.App {
  background-color: #363636;
  overflow: auto;
  }
  
  
  ul {
  color: rgba(60, 10, 198, 0.81);
  }
  
  p {
  background-color: rgba(60, 10, 198, 0.81);
  font-size: 20px;
  font-family: Georgia, serif;
  letter-spacing: 2px;
  text-align: center;
  color: #D8E7DE;
  padding: 20px;
  }
  
  h1 {
  color: #D8E7DE;
  background-color: #363636;
  display: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-shadow: 2px 2px 0 #000F0A, 2px -2px 0 #000F0A, -2px 2px 0 #000F0A, -2px -2px 0 #000F0A, 2px 0px 0 #000F0A, 0px 2px 0 #000F0A, -2px 0px 0 #000F0A, 0px -2px 0 #000F0A;   
  }
  
  .prev, .next {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  margin: 0 auto;
  cursor: pointer;
  color: black;
  transition: 0.6s ease;
  }
  .next {
  margin-left: 5px;
  }
  .prev {
  margin-right: 5px;
  }
  .prev:hover, .next:hover {
  color: white;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  }
  
  
  header {
  background-color: #40238A;
  }
  
  body {
    background-color: #363636;
    color: #40238A;
  }
  head {
    background-color: #363636;
  }
  h3 {
  margin-top:18%;
  font-size: 50px;
  margin-left: -65%;
  font-family: Georgia, serif;
  position: relative;
  letter-spacing: 8px;
  overflow: hidden;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 80%;
  -webkit-background-clip: text;
  animation: animate 10s linear infinite;
  -webkit-text-fill-color: #D8E7DE;
  background-color: #363636;
  text-shadow: 0 1px 0 #361A80, 
                 0 2px 0 #2D1373,
                 0 3px 0 #230B64,
                 0 4px 0 #1B0652,
                 0 5px 0 #0E022E,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
  }
  @keyframes shine {
    from { -webkit-mask-position: 150%; }
    to { -webkit-mask-position: -50%; }
  }
  @keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
  }
  h5
  {
  display: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 50px;
  font-family: Georgia, serif;
  }
  h3 img  {
    border-radius: 50%;
  }
  .flip-card {
    background-color: #363636;
      display: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  perspective: 900px; 
  padding: 15px;
  position: absolute;
  top: 5%;
  left: 80px;
  border-radius: 15px 50px;
  padding: 20px;
  width: 200px;
  height: 150px;
  }
  
  .flip-card-inner {
  position: relative;
  width: 70%;
  height: 70%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
  position: absolute;
  width: 70%;
  height: 70%;
  backface-visibility: hidden;
  }
  
  
  .flip-card-back {
  transform: rotateY(180deg);
  }
  .aboutContainer img {
    transition: .5s ease;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
  }
  .about {
  font-size: 2em;
  letter-spacing: 4px;
  margin-top: -15%;
  font-size: 100;
  letter-spacing: 8px;
  background-color: rgba(0, 54, 50, 0.38);
  color: #363636; 
  width: 65%;
  margin-left: 30%;
  margin-bottom: 5%;
  padding-left: 20px;
  line-height: 2;
  display:flex;
  flex-direction:column;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  .imgstyle {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  a {
  color: white;
  padding: 15px;
  margin: 10px;
  }
  
  @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  }
  