.App {
  text-align: center;
  background-color: #B9BABB;
  scroll-behavior: smooth;
  overflow: scroll;
  padding: 10px;

}

body {
  background-color: #B9BABB;
  color: black;
}

p {
  color: black;
  white-space: initial; 
  overflow: show;
  text-overflow: ellipsis;
  margin: 10px;
  padding: 30px;
  text-align: center;
  position: center;
}

li {
  color: black;
}
nav li {
  align-items: center;
  float: middle;
  color: black;
  
}
header {
  padding: 30px;
  margin: 5%;
}
h1 {
  position: center;
  float: top
}
h5
{
  display: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 0;
  padding: 30px;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 36px;
}
h3
{
  top: 10px;
  font-size: 20px;
  align-items: right;
  justify-content: right;
  text-align: right;
  overflow: show;
  text-overflow: ellipsis;
  position:absolute;
}
h6
{
  padding: 20px;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 20px;
  width: 45%;
}


h4 {
  color: #112526;
  text-align: right;
  overflow: show;
  text-overflow: ellipsis;
  padding: 10px;
  margin: 5%;
  position:absolute;
  bottom: 0;
  right: 0;
  size: 10;
  text-shadow: 0 1px #656869, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;

}

a {
  color: black;
  text-shadow: 0 -1px 4px #89FAF4, 0 -2px 10px #0046FF, 0 -10px 20px #00C1FF, 0 -18px 40px #4C00F0;
  padding: 15px;
  margin: 10px;
}
.footer {
  white-space: initial; 
  overflow: show;
  text-overflow: ellipsis;
  margin: 10px;
  padding: 30px;
  text-align: center;
  position: center;
}
.drawer {
  opacity: 850;
  text-shadow: 0 -1px 4px #89FAF4, 0 -2px 10px #0046FF, 0 -10px 20px #00C1FF, 0 -18px 40px #4C00F0;
  font-size: 9px;
  text-align: left;
  white-space: initial; 
  text-overflow: ellipsis;
  background: black;

}

.drawer a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  text-align: right;
  color: #B9BABB;
  background: black;

}

.drawer a:hover {
  color: black;
  transform: scale(1.8);
  background: black;

}
.App-link {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}