.App {
  text-align: center;
  scroll-behavior: smooth;
  overflow: scroll;
  background-color: #0D314E;
}

@font-face {
  font-family: 'FiraSans';
  src: local('FiraSans'),
    url(../assets/fonts/FiraSans-Medium.ttf);
}

@font-face {
  font-family: 'FiraSansBold';
  src: local('FiraSansBold'),
    url(../assets/fonts/FiraSans-Bold.ttf);
}

.logo {
  position: absolute;
  top: 8px;
  left: 16px;
  float: left;
  z-index: 99;
}

.logo img {
  padding: 20px;
  width: 50px;
}

.logo img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

body {
  background-image:
    url('../assets/images/ColoredBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

nav {
  position: fixed;
  top: 0;
}

::selection {
  background-color: #D9E2F7;
  color: #0D314E;
}

::-moz-selection {
  background-color: #D9E2F7;
  color: #0D314E;
}

a {
  color: #D05301;
  padding: 20;
  margin: 10px;
}

.ul {
  color: #222121;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.block-menu {
  color: #222121;
  list-style-type: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.block-menu li a {
  color: #D9E2F7;
  background-color: #0D314E;
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  font-family: 'FiraSans';
}

.three-d {
  perspective: 200px;
  z-index: 99;
  transition: all .07s linear;
  position: relative;
  cursor: pointer;
}

.three-d:hover .three-d-box,
.three-d:focus .three-d-box {
  transform: translateZ(-25px) rotateX(90deg);
  transition: 0.3s ease all;
  z-index: 99;
}

.three-d-box {
  transition: all .3s ease-out;
  transform: translatez(-25px);
  transform-style: preserve-3d;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline;
  z-index: 99;
  width: 100%;
  height: 100%;
}

.front {
  transform: rotatex(0deg) translatez(25px);
  z-index: 99;
  background-color: #0D314E;
  color: #D9E2F7;
}

.back {
  transform: rotatex(-90deg) translatez(25px);
  background-color: #0D314E;
  z-index: 99;
  color: #D9E2F7;
  text-shadow:
    0 0 7px #D9E2F7,
    0 0 10px #D9E2F7,
    0 0 21px #D9E2F7,
    0 0 42px #D05301,
    0 0 82px #D05301,
    0 0 92px #D05301,
    0 0 102px #D05301,
    0 0 151px #D05301;
  animation: shine_bright 1.5s infinite alternate;
}

@keyframes shine_bright {
  from {
    text-shadow: 0 0 10px #D9E2F7, 0 0 20px #D9E2F7, 0 0 30px #D05301, 0 0 40px #D05301, 0 0 50px #D05301, 0 0 60px #D05301, 0 0 70px #D05301;
  }

  to {
    text-shadow: 0 0 20px #D9E2F7, 0 0 30px #d1834f, 0 0 40px #d1834f, 0 0 50px #d1834f, 0 0 60px #d1834f, 0 0 70px #d1834f, 0 0 80px #d1834f;
  }
}

.front,
.back {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5px;
  left: 0;
  padding: 15px 10px;
  pointer-events: none;
  box-sizing: border-box;
  z-index: 99;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.checkbox {
  display: none;
}

.button {
  position: relative;
  background-color: #D9E2F7;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 5vh;
  right: 5vw;
  z-index: 2000;
  box-shadow: 0 1rem 3rem black;
  text-align: center;
  cursor: pointer;
}

.background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 5.5vh;
  right: 5.5vw;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  background: radial-gradient(#D05301, #D9E2f7);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  background-size: 200% 200%;
  -webkit-animation: Animation 5s ease infinite;
  -moz-animation: Animation 5s ease infinite;
  animation: Animation 5s ease infinite;

}

@-webkit-keyframes Animation {
  0% {
    background-position: rotate(0deg) translate(-165px) rotate(0deg);

  }

  100% {
    background-position: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}

@-moz-keyframes Animation {
  0% {
    background-position: rotate(0deg) translate(-165px) rotate(0deg);

  }

  100% {
    background-position: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}

@keyframes Animation {
  0% {
    background-position: rotate(0deg) translate(-165px) rotate(0deg);

  }

  100% {
    background-position: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}

.nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -60vw;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s;
}

.list {
  position: absolute;
  top: 35%;
  left: 60%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 50%;
}

.item {
  margin: 1rem;
  font-size: medium;
  padding: 20px;
}

.link:link,
.link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #D9E2F7;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg,
      transparent 0%,
      transparent 50%,
      #D9E2F7 50%);
  background-size: 50%;
  transition: all 0.4s;
}

.checkbox:checked~.background {
  transform: scale(15);
}

.checkbox:checked~.nav {
  opacity: 1;
  width: 50%;
  right: 0;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon,
.icon::before,
.icon::after {
  width: 3rem;
  height: 2px;
  background-color: #0D314E;
  display: inline-block;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.icon::before {
  top: -0.8rem;
}

.icon::after {
  top: 0.8rem;
}

.button:hover icon:before {
  top: -1rem;
}

.button:hover icon::after {
  top: 1rem;
}

.checkbox:checked+.button .icon {
  background-color: transparent;
}

.checkbox:checked+.button .icon::before {
  top: 0;
  transform: rotate(135deg);
}

.checkbox:checked+.button .icon::after {
  top: 0;
  transform: rotate(-135deg);
}