.App {
  text-align: center;
  scroll-behavior: smooth;
  overflow: scroll;
}

nav
{
   position: fixed;
   top: 0;
}

::selection {
  background-color: #75807f;
  color: #D14990;
}
::-moz-selection {
  background-color: #85EFF5;
  color: #D14990;
}

a {
  color: black;
  padding: 20;
  margin: 10px;
}

.App-link {
  color: black;
}
.ul {
  color: #222121;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.block-menu {
  color: #222121;
  list-style-type: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.block-menu li a {
	color: #E9F8EF;
  background-color: #222121;
  font-family: "DM Sans", sans-serif;
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}

.three-d {
  perspective: 200px;
  z-index: 99;
	transition: all .07s linear;
	position: relative;
  cursor: pointer;

}
	.three-d:hover .three-d-box, 
	.three-d:focus .three-d-box {
    transform: translateZ(-25px) rotateX(90deg);
    transition: 0.3s ease all;
    z-index: 99;
    color: yellow;
	}

.three-d-box {
	transition: all .3s ease-out;
	transform: translatez(-25px);
	transform-style: preserve-3d;
	pointer-events: none;
	position: absolute;
	bottom: 0;
	left: 0;
  display: inline;
  z-index: 99;
	width: 100%;
	height: 100%;
}

.front {
  transform: rotatex(0deg) translatez(25px);
  z-index: 99;
}

.back {
	transform: rotatex(-90deg) translatez(25px);
  color: #222121;
  z-index: 99;
}

.front, .back {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 5px;
	left: 0;
	background: #222121;
	padding: 15px 10px;
	color: #E9F8EF;
	pointer-events: none;
  box-sizing: border-box;
  z-index: 99;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}