.Shape {
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; 
    left: 0;
    width: 100%; height: 100%;
}

.button1 {
    position: absolute;
    display: block;
    z-index: 99;
    top: 0%;
    padding: 10px;
    margin: 50px;
    border-radius: 50%;
      padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  font-family: Georgia, serif;
    }

.button2 {
    position: absolute;
    display: block;
    z-index: 99;
    top: 10%;
    padding: 10px;
    margin: 50px;
    border-radius: 50%;
      padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  font-family: Georgia, serif;
    }


.button3 {
    position: absolute;
    display: block;
    z-index: 99;
    top: 20%;
    padding: 10px;
    margin: 50px;
    border-radius: 50%;
      padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  font-family: Georgia, serif;
    }

.button4 {
    position: absolute;
    display: block;
    z-index: 99;
    top: 30%;
    padding: 10px;
    margin: 50px;
    border-radius: 50%;
      padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  font-family: Georgia, serif;
    }

.button5 {
    position: absolute;
    display: block;
    z-index: 99;
    top: 40%;
    padding: 10px;
    margin: 50px;
    border-radius: 50%;
      padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  font-family: Georgia, serif;
    }

.button6 {
    position: absolute;
    display: block;
    z-index: 99;
    top: 50%;
    padding: 10px;
    margin: 50px;
    border-radius: 50%;
      padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  font-family: Georgia, serif;
    }

.button7 {
    position: absolute;
    display: block;
    z-index: 99;
    top: 60%;
    padding: 10px;
    margin: 50px;
    border-radius: 50%;
      padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  font-family: Georgia, serif;
    }

.button8 {
    position: absolute;
    display: block;
    z-index: 99;
    top: 70%;
    padding: 10px;
    margin: 50px;
    border-radius: 50%;
      padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  font-family: Georgia, serif;
    }

    .button9 {
    position: absolute;
    display: block;
    z-index: 99;
    top: 80%;
    padding: 10px;
    margin: 50px;
    border-radius: 50%;
      padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  font-family: Georgia, serif;
    }

.kudos {
    z-index: 99;
    left: 0%;
    bottom: 0%;
        position: absolute;
    display: block;
      text-align: center;
  font-size: 16px;
  font-family: Georgia, serif;
}