.Shape {
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; 
    left: 0;
    width: 100%; height: 100%;
}

/* The side navigation menu */
.ExploreLeftSideNav {
  position: absolute;
  top:0;
  height: 100%;
}

/* The navigation menu links */
.ExploreLeftSideNav button {
  display: inline-block;
  padding: 1px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px;
  border-radius: 50%;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  font-family: Georgia, serif;
}

/* When you mouse over the navigation links, change their color */
.ExploreLeftSideNav button:hover {
  color: #2f7ac0;
}

.kudos {
    z-index: 99;
    left: 0%;
    bottom: 0%;
        position: absolute;
    display: block;
      text-align: center;
  font-size: 16px;
  font-family: Georgia, serif;
}