.App {
text-align: center;
scroll-behavior: smooth;
overflow: scroll;
padding: 10px;

}
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
  
.Homeparent {
  width: 500px;
  height: 100px;
}

.complete {
  position: absolute; 
  top: 0; 
  right: 0;
  width: 100%; height: 100%;
}
body {
    background-image:
url('../assets/background/donut.png'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1.homeLocation.legibility {
  text-rendering: optimizeLegibility;
}
h1.homeLocation.speed {
  text-rendering: optimizeSpeed;
}
.GoLocation {
  color: white;
  font-size: 1.5em;
}
h1.homeLocation {
  font-family: "DM Mono", sans-serif;
  font-size: 1em;
  position: relative;
  top: 50px;
  left: 25px;
  overflow: hidden;
  text-align: left;
  background-repeat: no-repeat;
  background-size: 80%;
  background-clip: text;
  animation: animate 10s linear infinite;
}

h2.homeTitle.legibility {
  text-rendering: optimizeLegibility;
}
h2.homeTitle.speed {
  text-rendering: optimizeSpeed;
}
h2.homeTitle {
  font-family: "DM Sans", sans-serif;
  font-size: 3em;
  position: relative;
  top: 50px;
  left: 35px;
  overflow: hidden;
  text-align: left;
  -webkit-text-fill-color: white; 
}

.homeIntro.legibility {
  text-rendering: optimizeLegibility;
}
.homeIntro.speed {
  text-rendering: optimizeSpeed;
}
.homeIntro {
  font-family: "DM Sans", sans-serif;
  font-size: 2em;
  position: relative;
  left: 35px;
  top: 50px;
  overflow: hidden;
  text-align: left;
  -webkit-text-fill-color: white;
}


div.homeBody.legibility {
  text-rendering: optimizeLegibility;
}
div.homeBody.speed {
  text-rendering: optimizeSpeed;
}
div.homeBody {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2em;
  position: relative;
  left: 35px;
  top: 50px;
  overflow: hidden;
  text-align: left;
  -webkit-text-fill-color: #D8E7DE;

}
div.homeContact {
  position: relative;
  left: 35px;
  top: 100px;
  text-align: left;
  -webkit-text-fill-color: #D8E7DE;

}

a {
color: #b8bfc1;
padding: 15px;
margin: 10px;
}

.App-link {
color: black;
}

@keyframes App-logo-spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}
